.quiz_mainbody {
  padding: 20px 60px;
  margin-bottom: 60px;
}
.quizSub_selector {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.quiz_sub {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #ffce8e;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 0 gray;
  cursor: pointer;
}
.quiz_sub:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 0 gray;
}
.quiz_holder {
  margin-top: 20px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  background-color: #ffab3e;
  color: #fff;
  transform: translateY(2px);
  box-shadow: 0 2px 0 gray;
}

.quiz_inner_holder {
  position: relative;
  width: 700px;
  min-height: 274px;
  padding: 20px;
  box-shadow: 0 0 10px gray;
  border-radius: 12px;
}
.result_card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  box-shadow: 0 0 10px gray;
  border-radius: 12px;
  background-color: #ffce8e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.quiz_question {
  padding: 10px 0;
}
.quiz_options {
  margin: 10px 0;
  min-height: 132px;
}
.option {
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
.option:hover {
  background-color: #ffce8e;
}
.selectedAns {
  background-color: #ffab3e;
}
#nextBtn,
#reset_btn {
  padding: 5px 10px;
  background-color: #3ea6ff;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 5px gray;
  transition: all 200ms ease-in-out;
}
.nextBtn_holder {
  display: flex;
  justify-content: center;
  height: 34px;
}
#nextBtn:hover,
#reset_btn:hover {
  background-color: #0088ff;
  transform: scale(1.04);
}
.result_card h4 {
  font-size: 20px;
}
@media (max-width: 680px) {
  .quiz_mainbody > h1 {
    text-align: center;
  }
}
@media (max-width: 580px) {
  .quizSub_selector {
    gap: 10px;
  }
  .quiz_sub {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    white-space: nowrap;
    background-color: #ffce8e;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 0 gray;
    cursor: pointer;
  }
  .selected {
    background-color: #ffab3e;
  }
}
@media (max-width: 480px) {
  .quiz_mainbody {
    padding: 20px;
  }
}
